body{
    background-image: url(assets/31189.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(5px);
    width: 100vw;
    padding: 10px 0;
}
.clock{
    font-size: 6rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.70);
}