.Counter-container{
    text-align: center;
    font-family: sans-serif;
}

.count-display{
    font-size: 10em;
    margin-top: 0px;
    margin-bottom: 50px;
}

.counter-button{
    width: 150px;
    font-size: 1.5em;
    margin: 0px 5px;
    font-weight: bold;
    background-color: hsl(191, 100%, 50%);
    color: white;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover{
    background-color: hsl(191, 100%, 40%);
}