.list-category{
    font-size: 2.5em;
    font-weight: bold;
    font-family: Cambria;
    color: hsl(0, 0%, 100%);
    border: 3px solid black;
    border-radius: 5px;
    background-color: hsl(208, 86%, 54%);
    text-align: center;
    margin-bottom: 10px;
}
.list-items li{
    font-size: 1.6em;
    color: hsl(0, 0%, 25%);
    text-align: center;
    list-style: none;
    /* margin: 0px; */
}
.list-items li:hover{
    color: hsl(0, 0%, 45%);
    cursor: pointer;
}